 <div class="form-actions" style="display: flex; justify-content: space-evenly;">
 <div *ngFor="let btn of buttons">
  <button class="btn btn-primary" (click)="navigate(btn.route)">
    {{ btn.label }}
  </button>
</div>
</div>
<h2>{{'XBucket Unit Wise Overdue recovery Updates'| titlecase }} {{currentDateTime }}</h2>

<table border="1" width="100%" style="text-align: center;">
    <thead>
      <tr>
        <th>
          <div class="th-content" (click)="sortBy('bh')">
            RMBH
            <i class="fas" [ngClass]="getSortIcon('bh')"></i>
          </div>
        </th>
        <th>
          <div class="th-content" (click)="sortBy('funder')">
            Funder
            <i class="fas" [class]="getSortIcon('funder')"></i>
          </div>
        </th>
        <th>
          <div class="th-content" (click)="sortBy('state')">
            State
            <i class="fas" [ngClass]="getSortIcon('state')"></i>
          </div>
        </th>
        <th>
            <div class="th-content" (click)="sortBy('unit')">
            Unit
            <i class="fas" [ngClass]="getSortIcon('unit')"></i>
          </div>
        </th>
            <th>
            <div class="th-content" (click)="sortBy('x_Bucket_flow_clients')">
            X Bucket flow clients
            <i class="fas" [ngClass]="getSortIcon('x_Bucket_flow_clients')"></i>
          </div>
        </th>
        <th>
            <div class="th-content" (click)="sortBy('visitsonXbucket')">
            visitsonXbucket
            <i class="fas" [ngClass]="getSortIcon('visitsonXbucket')"></i>
          </div>
        </th>
      
          <th>
            <div class="th-content" (click)="sortBy('uniqueVisitsonXbucket')">
                uniqueVisitsonXbucket
            <i class="fas" [ngClass]="getSortIcon('uniqueVisitsonXbucket')"></i>
          </div>
        </th>
        <th>
            <div class="th-content" (click)="sortBy('reduced')">
            Reduced
            <i class="fas" [ngClass]="getSortIcon('reduced')"></i>
          </div>
        </th>
        <th>
            <div class="th-content" (click)="sortBy('reducedPercent')">
            %
            <i class="fas" [ngClass]="getSortIcon('reducedPercent')"></i>
          </div>
        </th>
        <th>
            <div class="th-content" (click)="sortBy('collected')">
            Collected
            <i class="fas" [ngClass]="getSortIcon('collected')"></i>
          </div>
        </th>
        <th>
            <div class="th-content" (click)="sortBy('collectedPercent')">
            %
            <i class="fas" [ngClass]="getSortIcon('collectedPercent')"></i>
          </div>
        </th>
        <th>
            <div class="th-content" (click)="sortBy('collected_Amount')">
            Amount
            <i class="fas" [ngClass]="getSortIcon('Amount')"></i>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let group of getGroupedRecords | keyvalue">
        <tr *ngFor="let r of group.value">
          <td>{{ r.bh }}</td>
          <td>{{ r.funder }}</td>
          <td>{{ r.state }}</td>
          <td>{{ r.unit }}</td>
          <td>{{ r.x_Bucket_flow_clients }}</td>
          <td>{{ r.visits_on_X_bucket }}</td>
          <td>{{ r.unique_Visits_on_X_bucket }}</td>
          <td>{{ r.reduced }}</td>
          <td>{{ r.reducedPercent }}</td>
          <td>{{ r.collected }}</td>
          <td>{{ r.collectedPercent }}</td>
          <td>{{ r.collected_Amount| currency: 'INR' }}</td>
        </tr>
        <tr style="font-weight: bold; background: #e6f7ff;">
          <td colspan="4">{{ group.key }} Total</td>
          <td>{{ getGroupTotal(group.value).x_Bucket_flow_clients }}</td>
          <td>{{ getGroupTotal(group.value).visitsonXbucket }}</td>
          <td>{{ getGroupTotal(group.value).uniqueVisitsonXbucket}}</td>
          <td>{{ getGroupTotal(group.value).reduced }}</td>
          <td>{{getGroupTotal(group.value).reducedPercent}}</td>
          <td>{{ getGroupTotal(group.value).collected }}</td>
          <td>{{getGroupTotal(group.value).collectedPercent }}</td>
          <td>{{ getGroupTotal(group.value).collectedAmount| currency: 'INR'  }}</td>
        </tr>
      </ng-container>
      <tr style="font-weight: bold; background: #c8e6c9;">
        <td colspan="4">Grand Total</td>
        <td>{{ getGrandTotal.x_Bucket_flow_clients }}</td>
        <td>{{ getGrandTotal.visitsonXbucket}}</td>
        <td>{{ getGrandTotal.uniqueVisitsonXbucket}}</td>
        <td>{{ getGrandTotal.reduced }}</td>
        <td>{{getGrandTotal.reducedPercent}}</td>
        <td>{{ getGrandTotal.collected }}</td>
        <td>{{getGrandTotal.collectedPercent}}</td>
        <td>{{ getGrandTotal.collectedAmount | currency: 'INR'  }}</td>
      </tr>
    </tbody>
  </table>